---
import Layout from "@/layouts/main.astro"
import Header from "@/blocks/header.astro"
import AboutMe from "@/blocks/about.me.astro"
import Experiences from "@/blocks/experiences.astro"
import Education from "@/blocks/education.astro"
import Skills from "@/blocks/skills.astro"
---

<Layout title="Nilok's Offical Website | Frontend Developer">
  <section
    class="mx-auto my-2 w-full space-y-8 border-t border-b px-6 py-6 md:my-8 md:rounded-lg md:border md:px-12"
  >
    <Header />
    <AboutMe />
    <Experiences />
    <Education />
    <Skills />
  </section>
</Layout>
