<section class="flex flex-col gap-y-6 print:gap-y-1" id="education">
  <div class="space-y-2">
    <h2 class="text-xl font-bold" id="education">Education</h2>
  </div>
  <div class="space-y-4">
    <article>
      <div class="">
        <div class="flex items-start justify-between gap-2">
          <div>
            <h3 class="text-base font-semibold">R.P. Shaha University</h3><p
              class="text-sm text-muted-foreground"
            >
              Bachelor in Computer Science &amp; Engineering
            </p>
          </div>
          <span class="text-sm text-muted-foreground">2020 - 2024</span>
        </div>
      </div>
    </article>
    <article>
      <div class="">
        <div class="flex items-start justify-between gap-2">
          <div>
            <h3 class="text-base font-semibold">Govt. Tolaram College</h3>
            <p class="text-sm text-muted-foreground">
              Higher Secondary School Certificate
            </p>
          </div>
          <span class="text-sm text-muted-foreground">2017 - 2019</span>
        </div>
      </div>
    </article>
    <article>
      <div class="">
        <div class="flex items-start justify-between gap-2">
          <div>
            <h3 class="text-base font-semibold">Adarsha School Narayanganj</h3>
            <p class="text-sm text-muted-foreground">
              Secondary School Certificate
            </p>
          </div>
          <span class="text-sm text-muted-foreground">2006 - 2017</span>
        </div>
      </div>
    </article>
  </div>
</section>
