<section class="flex flex-col gap-y-6 print:gap-y-1" id="skills">
  <div class="space-y-2">
    <h2 class="text-xl font-bold" id="skills">Skills</h2>
  </div><ul
    class="flex list-none flex-wrap gap-1 p-0"
    aria-label="List of skills"
  >
    <li>
      <div class="chip font-medium" aria-label="Skill: JavaScript">
        JavaScript
      </div>
    </li><li>
      <div class="chip font-medium" aria-label="Skill: Typescript">
        Typescript
      </div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: ReactJS">React</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: TailwindCSS">
        TailwindCSS
      </div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: ShadCn">ShadCn</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: DaisyUI">DaisyUI</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: HeadlessUI">
        HeadlessUI
      </div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: MaterialUI">
        MaterialUI
      </div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: MaterialUI">NextUI</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: NodeJS">NodeJS</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: ExpressJS">
        ExpressJS
      </div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: PostgreSQL">
        PostgreSQL
      </div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: MongoDB">MongoDB</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: Linux">Linux</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: Git">Git</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: Github">Github</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: Zustand">Zustand</div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: Tanstack Query">
        Tanstack Query
      </div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: Redux Toolkit">
        Redux Toolkit
      </div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: RTK Query">
        RTK Query
      </div>
    </li>
    <li>
      <div class="chip font-medium" aria-label="Skill: Zod">Zod</div>
    </li>
  </ul>
</section>
